{% extends 'superadmin/header.html' %}
{% load static %}
{% block body %}
<div class="content-body">
    <div class="container-fluid">
        <div class="rajib">
            <div class="demo-view">
                <div class="container-fluid pt-0 ps-0 pe-lg-4 pe-0">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card" id="accordion-one">
                                <div class="card-header flex-wrap px-3">
                                    <div>
                                        <h4 class="card-title">Manage Projects</h4>
                                        <p class="m-0 subtitle">Manage projects by <code>create/update/delete</code> here!</p>
                                    </div>
                                    <ul class="nav nav-tabs dzm-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addProjectModal">
                                                + Add
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <!--tab-content-->
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="Preview" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="card-body p-0">
                                            <div class="table-responsive">
                                                <table id="example" class="display table" style="min-width: 845px">
                                                    <thead style="background-color: whitesmoke;">
                                                        <tr>
                                                            <th>Sn</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Status</th>
                                                            <th>Created At</th>
                                                            <th>Update At</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for allData in allData %}
                                                            <tr>
                                                                <td>{{forloop.counter}}.</td>
                                                                <td>{{allData.name}}</td>
                                                                <td>{{allData.description}}</td>
                                                                <td>
                                                                    <div class="dropdown">
                                                                        {% if allData.is_active %}
                                                                            <span class="badge badge-success light" data-bs-toggle="dropdown" style="cursor: pointer;">Active</span>

                                                                            <div class="dropdown-menu">
                                                                                <a href="/superadmin/updateProjectStatus/{{allData.id}}/" class="dropdown-item" onClick="return confirm('Are you sure? to update status!')">Inactive</a>
                                                                            </div>

                                                                        {% else %}
                                                                            <span class="badge badge-danger" data-bs-toggle="dropdown" style="cursor: pointer;">Inactive</span>

                                                                            <div class="dropdown-menu">
                                                                                <a href="/superadmin/updateProjectStatus/{{allData.id}}/" class="dropdown-item" onClick="return confirm('Are you sure? to update status!')">Active</a>
                                                                            </div>
                                                                        {% endif %}
                                                                    </div>
                                                                </td>
                                                                <td>{{allData.created_at}}</td>
                                                                <td>{{allData.updated_at}}</td>
                                                                <td>
                                                                    <div class="d-flex">
                                                                        <a data-id="{{ allData.id }}" data-name="{{ allData.name }}" data-description="{{ allData.description }}" data-bs-toggle="modal" data-bs-target="#editProjectsModal" class="btn btn-primary shadow btn-xs sharp me-1 editProjects"><i class="fa fa-pencil"></i></a>

                                                                        <a href="/superadmin/deleteProjects/{{allData.id}}/" class="btn btn-danger shadow btn-xs sharp" onClick="return confirm('Are you sure? to delete!')"><i class="fa fa-trash"></i></a>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <th>Sn</th>
                                                            <th>Name</th>
                                                            <th>Description</th>
                                                            <th>Status</th>
                                                            <th>Created At</th>
                                                            <th>Update At</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add project modal -->
<div class="modal fade" id="addProjectModal" tabindex="-1" aria-labelledby="addProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addProjectModalLabel">New Project Deatils</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" action="{% url 'projects' %}" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Project Name</label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="e.g. Bluesky" required>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label for="description" class="form-label">Project Details</label>
                                <input type="text" id="description" name="description" class="form-control" placeholder="e.g. Gaming platform" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- edit project modal -->
<div class="modal fade" id="editProjectsModal" tabindex="-1" aria-labelledby="editProjectsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-center">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editProjectsModalLabel">Update Project Deatils</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="post" id="editForm" autocomplete="off" enctype="multipart/form-data">{% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label for="name" class="form-label">Project Name</label>
                                <input type="text" id="edit_name" name="name" class="form-control" placeholder="e.g. Bluesky" required>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label for="description" class="form-label">Project Details</label>
                                <input type="text" id="edit_description" name="description" class="form-control" placeholder="e.g. Gaming platform" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myDivAlertSuccess">
    <div style="background-color: #1c7c50; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> <span id="smsg"></span>
    </div>
</div>

<div id="myDivAlertError">
    <div style="background-color: #ed1b2e; color:white;" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Error!</strong> <span id="emsg"></span>
    </div>
</div>

{% endblock body %}
{% block js %}
    <script src="{% static 'js/highlight.min.js' %}"></script>

    <script>hljs.highlightAll();
        hljs.configure({ ignoreUnescapedHTML: true })
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((el) => {
                hljs.highlightElement(el);
            });
        });            
    </script>

    <script>
        $( ".editProjects" ).click(function() {
            $.id = $(this).data('id');
            var name = $(this).data('name');
            var description = $(this).data('description');
            
            $("#edit_name").val(name);
            $("#edit_description").val(description);
            $('#editForm').attr('action', "/superadmin/editProjects/"+ $.id +"/");
        });
    </script>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertSuccess");
                    $('#smsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
            {% if message.tags == 'error' %} 
                <script>
                    var msg= "{{message}}";
                    var x = document.getElementById("myDivAlertError");
                    $('#emsg').html(msg);
                    x.className = "show";
                    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}